body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
  box-sizing: border-box;
}
input[type=email], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}
input[type=email]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;

}


.form{
  padding: 16px;
}           




.registers:hover{
  background-color: #04aa20;
}
a{
  color: dodgerblue;
  text-decoration: none;
}
.signins{
  background-color: #f1f1f1;
  text-align: center;
}